<a href="https://colab.research.google.com/github/rmendesl/TCC/blob/master/01_DataCollectingAndCleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Coleta e Limpeza dos Dados

A origem desses dados são provenientes de fontes internas (coletados dentro da organização, gerados por colaboradores, gestores, sistemas e stakeholders em geral). Por isso mesmo, o conjunto de dados precisa ter todas as variáveis necessárias para que o problema em questão seja resolvido.

Para realizar essa tarefa, são necessárias habilidades técnicas. Por exemplo, para gerenciamento de banco de dados é importante o conhecimento em bancos de dados não-relacionais e relacionais. Se o projeto envolve dados provenientes de arquivos em diversos formatos como CSV (Comma Separated Value) ou TSV (Tab Separated Values), o domínio de bibliotecas Python e R são requisitos. Além disso, se o conjunto de dados utilizado for em grande escala, é necessário usar de tecnologias Big Data (Apache Hadoop, Spark ou Flink). Em nosso caso em particular, os dados já foram nos enviados por meio de uma planilha no formato Excel.

A limpeza de dados também inclui a tarefa de extrair e substituir valores, principalmente os relacionados a dados faltantes no conjunto de informações. Pode-se pensar neste processo como o responsável por organizar os dados, remover o que não é mais necessário, substituir o que está faltando e padronizar o formato em todas as informações coletadas.

Fonte: https://awari.com.br/fases-projeto-data-science/

## Bibliotecas Utilizadas

Referência para a bibioteca Pandas: https://pandas.pydata.org/docs/user_guide/index.html

Referência para a biblioteca Numpy: https://numpy.org/doc/

In [ ]:
# Importando os pacotes necessários
import pandas as pd
import numpy as np

## Obtenção dos dados

### Montando o Drive do Google Drive

In [ ]:
# Execute apenas se desejar fazer o upload do arquivo local para o seu Google Drive
from google.colab import files
files.upload()

In [ ]:
# Montando o drive do seu Google Drive
from google.colab import drive
drive.mount('/content/drive',  force_remount=True)

Mounted at /content/drive

### Carregando o arquivo para o dataframe

Use apenas uma das duas opções abaixo:

1.   Carregando direto do seu Google Drive;
2.   Carregando direto do link compartilhado;

Os dados foram enviados pela instituição no formato XLSX (Excel). Foram eliminados os dados considerados sensíveis.

Para esta análise exploratória inicial, será usado apenas o seguinte arquivo:

* `BASE_RENOVAVEL.xlsx`

In [ ]:
# Troque o caminho root_path caso seu arquivo esteja em outra pasta em seu drive
root_path = 'drive/My Drive/TCC/'
data = 'BASE_RENOVAVEL.xlsx'



---


1. Carregando direto do seu Google Drive

In [ ]:
# Carregando os dados da planilha excel para o dataframe
df_renovacao = pd.read_excel(root_path + data, sheet_name=0)



---


2. Carregando direto do link compartilhado

In [ ]:
# Use o link abaixo para ter acesso direto ao arquivo
link = "https://drive.google.com/uc?export=download&id=1aBR_Dt4NxSoUzUlOTCwzGh9vpqqzvjms"

# Carregando os dados do arquivo CSV para o dataframe
df_renovacao = pd.read_excel(link, sheet_name=0)

## Análise inicial dos dados

Esta etapa tem por objetivo criar uma consciência situacional inicial e permitir um entendimento de como os dados estão estruturados.

**Dicionário de variáveis:**

* `COD_MATRICULA` - Código da matrícula do aluno.
* `NOM_SITUACAO_PROX_PERIODO` - Nome da situação do aluno no próximo semestre.
* `ALUNO_MATRICULADO_PROX_PERIODO` - Indica a situação do aluno no próximo semestre. ***(essa será a nossa variável alvo)***
* `NOM_SITUACAO_PERIODO_ATUAL` - Nome da situação do aluno no semestre atual.
* `ALUNO_MATRICULADO` - Indica a situação do aluno no semestre atual.
* `CONDICAO_GERENCIAL` - Indica a condição do aluno no processo de renovação de matrícula.
* `CONDICAO_IMPEDE_RENOVACAO` - Indica a condição do aluno que pode impedir a renovação de matrícula, porém existem a matrícula financeira e a matrícula acadêmica.
* `TIPO_INADIMPLENCIA` - Indica a condição de inadimplência do aluno.
* `RISCO_INADIMPLENCIA` - Indica a condição de risco relacionada ao valor em aberto.
* `MODALIDADE_PP_PC` - Indica a modalidade do curso.
* `COD_CURSO` - Código do curso do aluno.
* `NOM_CURSO` - Nome do curso do aluno.
* `NOM_TURNO` - Nome do turno em que o aluno frequenta.
* `COD_TIPO_CURSO` - Código do tipo de curso do aluno.
* `NOM_TIPO_CURSO`- Nome do tipo do curso do aluno.
* `CLASSE_PAGANTE_ANT` - Indica o tipo do aluno em relação a condição como pagante no semestre anterior.
* `CLASSE_PAGANTE_ATU` - Indica o tipo do aluno em relação a condição como pagante no semestre atual.
* `NOVO_FIES` - Indica se o aluno faz parte a nova modalidade de FIES (Financiamento Estudantil).
* `PERDA_FINANCIAMENTO` - Indica o motivo da perda de financiamento do aluno.
* `PRV_ANT` - Indica se o aluno faz parte do Programa de Crédito Estudantil (PRAVALER) no semestre anterior.
* `PRV_ATU` - Indica se o aluno faz parte do Programa de Crédito Estudantil (PRAVALER)  no semestre atual.
* `LATE_COMER` - Indica se o aluno começou atrasado no semestre.
* `NOM_SITUACAO_ALUNO` - Indica a situação do aluno no semestre atual.
* `NOM_SITUACAO_ALUNO_ANT` - Indica a situação do aluno no semestre anterior.
* `VAL_A_PAGAR` - Valor a pagar do boleto de renovação de matrícula.
* `VAL_A_PAGAR_PAR` - Valor a pagar do parcelamento da instituição.
* `VAL_DIVIDA_MENS` - Valor a pagar de mensalidades.
* `VAL_DIVIDA_TOTAL` - Valor total a pagar de dívidas.
* `ADIMP_N_REN` - Indica se o aluno está adimplente, porém ainda não foi renovado.
* `CR_PER_ANT` - Coeficiente de Rendimento, indica a média geral do aluno no semestre anterior.
* `FAIXA_APROVACAO` - Percentual de aprovação em disciplinas cursadas no semestre anterior.
* `QTD_ACESSOS_19_2` - Quantidade de acessos ao Portal Acadêmico até uma determinada data.
* `QTD_ACESSOS_20_1` - Quantidade de acessos ao Portal Acadêmico até uma determinada data.
* `IND_INDICIO_EVASAO` - Indica o indício de evasão do aluno.
* `CLASSIFICACAO_PROP_EVASAO` - Indica o índice de propensão a evasão.
* `CLASSIFICACAO_PROP_RENOVACAO` - Indica o índice de propensão a renovação.
* `ACEITE_CONTRATO` - Indica se o aluno deu aceite no contrato virtual.
* `PASTA_VERMELHA` - Indica se o aluno está pendente de alguma entrega de documentos.
* `REQ_AGEND_TRANC` - Indica se o aluno abriu algum requerimento de trancamento de matrícula.
* `SAFRA` - Indica se o aluno é Calouro ou Veterano.
* `DATA_SAFRA_ENTRADA` - Data de ingresso no curso.
* `SAFRA_ENTRADA` - Código da safra de ingresso do aluno.

In [ ]:
# Listar os primeiros 10 registros do DataFrame
df_renovacao.head(10)

   COD_MATRICULA NOM_SITUACAO_PROX_PERIODO  ...  DATA_SAFRA_ENTRADA SAFRA_ENTRADA
0   200701339023      Aguardando Renovação  ...          2018-07-01             3
1   200702198245      Aguardando Renovação  ...          2019-07-01             1
2   200702198679      Aguardando Renovação  ...          2018-07-01             3
3   200801431011               Matriculado  ...          2015-01-01            10
4   200901402225               Matriculado  ...          2015-01-01            10
5   201001152832               Matriculado  ...          2019-01-01             2
6   201001153693      Aguardando Renovação  ...          2019-07-01             1
7   201001211669               Matriculado  ...          2015-01-01            10
8   201001462891               Matriculado  ...          2017-01-01             6
9   201002224454      Aguardando Renovação  ...          2015-01-01            10

[10 rows x 44 columns]

## Quantidade de colunas e linhas que o nosso conjunto de dados possui e quais os tipos das variáveis.

Vamos prosseguir e identificar a quantidade de observações que nosso conjunto de dados possui e ver os tipos de cada coluna. O tipo de cada coluna é importante para sabermos se temos que realizar algum mapeamento ou transformação nos valores.

In [ ]:
# Verificar a quantidade de observações/variáveis e seus devidos tipos
print("Observações:\t {}".format(df_renovacao.shape[0]))
print("Variáveis:\t {}\n".format(df_renovacao.shape[1]))

df_renovacao.info()

Observações:	 2143
Variáveis:	 47

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2143 entries, 0 to 2142
Data columns (total 47 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   COD_MATRICULA                   2143 non-null   int64
 1   NOM_SITUACAO_PROX_PERIODO       2143 non-null   object
 2   ALUNO_MATRICULADO_PROX_PERIODO  2143 non-null   int64
 3   NOM_SITUACAO_PERIODO_ATUAL      2143 non-null   object
 4   ALUNO_MATRICULADO               2143 non-null   int64
 5   CONDICAO_GERENCIAL              2143 non-null   object
 6   CONDICAO_IMPEDE_RENOVACAO       2143 non-null   object
 7   TIPO_INADIMPLENCIA              2143 non-null   object
 8   RISCO_INADIMPLENCIA             1248 non-null   object
 9   MODALIDADE_PP_PC                2143 non-null   object
 10  COD_CURSO                       2143 non-null   int64
 11  NOM_CURSO                       2143 non-null   object
 12  COD_TURNO                       2143 non-null   int64
 13  NOM_TURNO                       2143 non-null   object
 14  COD_TIPO_CURSO                  2143 non-null   int64
 15  NOM_TIPO_CURSO                  2143 non-null   object
 16  CLASSE_PAGANTE_ANT              2143 non-null   object
 17  CLASSE_PAGANTE_ATU              2143 non-null   object
 18  NOVO_FIES                       2143 non-null   object
 19  PERDA_FINANCIAMENTO             80 non-null     object
 20  PRV_ANT                         2143 non-null   int64
 21  PRV_ATU                         2143 non-null   int64
 22  LATE_COMER                      2143 non-null   object
 23  V_AC                            2143 non-null   int64
 24  V_BR                            2143 non-null   int64
 25  V_EV                            2143 non-null   int64
 26  NOM_SITUACAO_ALUNO              2143 non-null   object
 27  NOM_SITUACAO_PERIODO_ANT        2143 non-null   object
 28  VAL_A_PAGAR                     1891 non-null   float64
 29  VAL_A_PAGAR_PAR                 132 non-null    float64
 30  VAL_DIVIDA_MENS                 267 non-null    float64
 31  VAL_DIVIDA_TOTAL                415 non-null    float64
 32  FAIXA_DE_DIVIDA                 200 non-null    object
 33  ADIMP_N_REN                     2143 non-null   int64
 34  CR_PER_ANT                      2135 non-null   float64
 35  FAIXA_APROVACAO                 2143 non-null   object
 36  QTD_ACESSOS_19_2                2138 non-null   float64
 37  QTD_ACESSOS_20_1                2128 non-null   float64
 38  IND_INDICIO_EVASAO              2143 non-null   int64
 39  CLASSIFICACAO_PROP_EVASAO       2143 non-null   object
 40  CLASSIFICACAO_PROP_RENOVACAO    2143 non-null   object
 41  ACEITE_CONTRATO                 2143 non-null   int64
 42  PASTA_VERMELHA                  2143 non-null   int64
 43  REQ_AGEND_TRANC                 2143 non-null   int64
 44  SAFRA                           2143 non-null   object
 45  DATA_SAFRA_ENTRADA              2143 non-null   datetime64[ns]
 46  SAFRA_ENTRADA                   2143 non-null   int64
dtypes: datetime64[ns](1), float64(7), int64(17), object(22)
memory usage: 787.0+ KB

## Verificando os dados de acordo com o tipo de variável.

Nesse momento pode-se observar que os tipos de dados estão bem divididos em 02(dois):

* `NUMBER` - 24 colunas
* `OBJECT` - 22 colunas
* `DATETIME` - 1 coluna

In [ ]:
# Somente os dados de tipo number
df_renovacao.select_dtypes(include=['number'])

      COD_MATRICULA  ...  SAFRA_ENTRADA
0      200701339023  ...              3
1      200702198245  ...              1
2      200702198679  ...              3
3      200801431011  ...             10
4      200901402225  ...             10
...             ...  ...            ...
2138   201912030837  ...              2
2139   201912030853  ...              2
2140   201912030861  ...              2
2141   201912030934  ...              2
2142   201912030951  ...              2

[2143 rows x 24 columns]

In [ ]:
# Somente os dados de tipo object
df_renovacao.select_dtypes(include=['object'])

     NOM_SITUACAO_PROX_PERIODO  ...     SAFRA
0         Aguardando Renovação  ...  VETERANO
1         Aguardando Renovação  ...   CALOURO
2         Aguardando Renovação  ...  VETERANO
3                  Matriculado  ...  VETERANO
4                  Matriculado  ...  VETERANO
...                        ...  ...       ...
2138               Matriculado  ...  VETERANO
2139               Matriculado  ...  VETERANO
2140                  TRANCADO  ...  VETERANO
2141               Matriculado  ...  VETERANO
2142               Matriculado  ...  VETERANO

[2143 rows x 22 columns]

In [ ]:
# Somente os dados de tipo datetime
df_renovacao.select_dtypes(include=['datetime'])

     DATA_SAFRA_ENTRADA
0            2018-07-01
1            2019-07-01
2            2018-07-01
3            2015-01-01
4            2015-01-01
...                 ...
2138         2019-01-01
2139         2019-01-01
2140         2019-01-01
2141         2019-01-01
2142         2019-01-01

[2143 rows x 1 columns]

## Percentual de valores ausentes *(missing values)* do nosso conjunto de dados

A qualidade de um *dataset* pode estar diretamente relacionada à quantidade de valores ausentes. É importante entender logo no início se esses valores nulos são significativos comparados ao total de observações.

As colunas que identifiquei são:

* `PERDA_FINANCIAMENTO` (96.27%)
* `VAL_A_PAGAR_PAR` (93.84%)
* `FAIXA_DE_DIVIDA` (90.67%)
* `VAL_DIVIDA_MENS` (87.54%)
* `VAL_DIVIDA_TOTAL` (80.63%)
* `RISCO_INADIMPLENCIA` (41.76%)
* `VAL_A_PAGAR` (11.76%)
* `QTD_ACESSOS_20_1` (0.70%)
* `CR_PER_ANT` (0.37%)
* `QTD_ACESSOS_19_2` (0.23%)

A coluna `PERDA_FINANCIAMENTO` será excluída do *dataset* pelo percentual de valores ausentes.

A coluna `RISCO_INADIMPLENCIA` terá seus valores ausentes preenchidos com  o valor **'SEM RISCO'** de acordo com a orientação do *stakeholder*.

A coluna `FAIXA_DE_DIVIDA` terá seus valores ausentes preenchidos com o valor **'SEM DIVIDA'** pois o Pandas identificou o valor 'N/A' do arquivo XLSX como sendo do tipo **NaN**.

As demais colunas, apesar do percentual elevado, são situações normais que podem ocorrer, pelo fato de, em sua maioria, tratarem de valores monetários ou numéricos, ou seja, não configura nenhum tipo de erro nos dados e terão seus valores ausentes preenchidos com 0(zeros).

Iremos tratar essas situações mais abaixo.

In [ ]:
# Verificar percentual de valores ausentes (missing values)
(df_renovacao.isnull().sum() / df_renovacao.shape[0] * 100).sort_values(ascending=False)

PERDA_FINANCIAMENTO               96.266916
VAL_A_PAGAR_PAR                   93.840411
FAIXA_DE_DIVIDA                   90.667289
VAL_DIVIDA_MENS                   87.540831
VAL_DIVIDA_TOTAL                  80.634624
RISCO_INADIMPLENCIA               41.763882
VAL_A_PAGAR                       11.759216
QTD_ACESSOS_20_1                   0.699953
CR_PER_ANT                         0.373308
QTD_ACESSOS_19_2                   0.233318
CLASSE_PAGANTE_ATU                 0.000000
CLASSE_PAGANTE_ANT                 0.000000
NOM_TIPO_CURSO                     0.000000
COD_TIPO_CURSO                     0.000000
NOM_TURNO                          0.000000
COD_TURNO                          0.000000
NOM_CURSO                          0.000000
COD_CURSO                          0.000000
ALUNO_MATRICULADO_PROX_PERIODO     0.000000
NOM_SITUACAO_PROX_PERIODO          0.000000
NOM_SITUACAO_PERIODO_ATUAL         0.000000
NOVO_FIES                          0.000000
MODALIDADE_PP_PC                   0.000000
TIPO_INADIMPLENCIA                 0.000000
CONDICAO_IMPEDE_RENOVACAO          0.000000
CONDICAO_GERENCIAL                 0.000000
ALUNO_MATRICULADO                  0.000000
SAFRA_ENTRADA                      0.000000
V_AC                               0.000000
PRV_ANT                            0.000000
PRV_ATU                            0.000000
SAFRA                              0.000000
REQ_AGEND_TRANC                    0.000000
PASTA_VERMELHA                     0.000000
ACEITE_CONTRATO                    0.000000
CLASSIFICACAO_PROP_RENOVACAO       0.000000
CLASSIFICACAO_PROP_EVASAO          0.000000
IND_INDICIO_EVASAO                 0.000000
FAIXA_APROVACAO                    0.000000
ADIMP_N_REN                        0.000000
NOM_SITUACAO_PERIODO_ANT           0.000000
NOM_SITUACAO_ALUNO                 0.000000
V_EV                               0.000000
V_BR                               0.000000
DATA_SAFRA_ENTRADA                 0.000000
LATE_COMER                         0.000000
COD_MATRICULA                      0.000000
dtype: float64

## Preenchendo os valores ausentes

In [ ]:
# Preenche os valores das variáveiS ausentes com 0 (zeros)
df_renovacao['VAL_A_PAGAR'] = df_renovacao['VAL_A_PAGAR'].fillna(0)
df_renovacao['VAL_A_PAGAR_PAR'] = df_renovacao['VAL_A_PAGAR_PAR'].fillna(0)
df_renovacao['VAL_DIVIDA_MENS'] = df_renovacao['VAL_DIVIDA_MENS'].fillna(0)
df_renovacao['VAL_DIVIDA_TOTAL'] = df_renovacao['VAL_DIVIDA_TOTAL'].fillna(0)
df_renovacao['CR_PER_ANT'] = df_renovacao['CR_PER_ANT'].fillna(0)
df_renovacao['QTD_ACESSOS_19_2'] = df_renovacao['QTD_ACESSOS_19_2'].fillna(0)
df_renovacao['QTD_ACESSOS_20_1'] = df_renovacao['QTD_ACESSOS_20_1'].fillna(0)

# Preenche os valores das variáveis com o um valor padrão de acordo com a situação adequada
df_renovacao['RISCO_INADIMPLENCIA'] = df_renovacao['RISCO_INADIMPLENCIA'].fillna('SEM RISCO')
df_renovacao['FAIXA_DE_DIVIDA'] = df_renovacao['FAIXA_DE_DIVIDA'].fillna('SEM DIVIDA')

## Selecionando e excluindo colunas desnecessárias

Foi identificado que algumas colunas categóricas já possuíam uma outra coluna numérica como referência.

São elas:

* `NOM_SITUACAO_PROX_PERIODO`
* `NOM_SITUACAO_PERIODO_ATUAL`
* `NOM_CURSO`
* `NOM_TURNO`
* `NOM_TIPO_CURSO`

In [ ]:
# Seleciona as variáveis qualitativas nominais e ordinais desnecessárias e/ou já mapeadas.
drop_columns = ['NOM_SITUACAO_PROX_PERIODO', 'NOM_SITUACAO_PERIODO_ATUAL', 'MODALIDADE_PP_PC', 'NOM_CURSO', 'NOM_TURNO', 'NOM_TIPO_CURSO', 'PERDA_FINANCIAMENTO', 'DATA_SAFRA_ENTRADA', 'SAFRA_ENTRADA']

In [ ]:
# Exclui as variáveis e cria um novo dataframe limpo
df_renovacao_limpo = df_renovacao.drop(drop_columns, axis=1)
df_renovacao_limpo = df_renovacao_limpo.reset_index(drop=True)

# Listar os primeiros e últimos registros do dataframe limpo
df_renovacao_limpo

      COD_MATRICULA  ALUNO_MATRICULADO_PROX_PERIODO  ...  REQ_AGEND_TRANC     SAFRA
0      200701339023                               0  ...                0  VETERANO
1      200702198245                               0  ...                0   CALOURO
2      200702198679                               0  ...                0  VETERANO
3      200801431011                               1  ...                0  VETERANO
4      200901402225                               1  ...                0  VETERANO
...             ...                             ...  ...              ...       ...
2138   201912030837                               1  ...                0  VETERANO
2139   201912030853                               1  ...                0  VETERANO
2140   201912030861                               0  ...                0  VETERANO
2141   201912030934                               1  ...                0  VETERANO
2142   201912030951                               1  ...                0  VETERANO

[2143 rows x 35 columns]

## Resultado final do conjunto de dados

Após a limpeza não foi mais observado valores ausentes no conjunto de dados.

In [ ]:
# Verificar a quantidade de observações/variáveis e seus devidos tipos após os mapeamentos e limpeza dos dados
print("Observações:\t {}".format(df_renovacao_limpo.shape[0]))
print("Variáveis:\t {}\n".format(df_renovacao_limpo.shape[1]))

df_renovacao_limpo.info()

Observações:	 2143
Variáveis:	 35

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2143 entries, 0 to 2142
Data columns (total 35 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   COD_MATRICULA                   2143 non-null   int64
 1   ALUNO_MATRICULADO_PROX_PERIODO  2143 non-null   int64
 2   ALUNO_MATRICULADO               2143 non-null   int64
 3   CONDICAO_GERENCIAL              2143 non-null   object
 4   CONDICAO_IMPEDE_RENOVACAO       2143 non-null   object
 5   TIPO_INADIMPLENCIA              2143 non-null   object
 6   RISCO_INADIMPLENCIA             2143 non-null   object
 7   COD_CURSO                       2143 non-null   int64
 8   COD_TURNO                       2143 non-null   int64
 9   COD_TIPO_CURSO                  2143 non-null   int64
 10  CLASSE_PAGANTE_ANT              2143 non-null   object
 11  CLASSE_PAGANTE_ATU              2143 non-null   object
 12  NOVO_FIES                       2143 non-null   object
 13  PRV_ANT                         2143 non-null   int64
 14  PRV_ATU                         2143 non-null   int64
 15  LATE_COMER                      2143 non-null   object
 16  NOM_SITUACAO_ALUNO              2143 non-null   object
 17  NOM_SITUACAO_PERIODO_ANT        2143 non-null   object
 18  VAL_A_PAGAR                     2143 non-null   float64
 19  VAL_A_PAGAR_PAR                 2143 non-null   float64
 20  VAL_DIVIDA_MENS                 2143 non-null   float64
 21  VAL_DIVIDA_TOTAL                2143 non-null   float64
 22  FAIXA_DE_DIVIDA                 2143 non-null   object
 23  ADIMP_N_REN                     2143 non-null   int64
 24  CR_PER_ANT                      2143 non-null   float64
 25  FAIXA_APROVACAO                 2143 non-null   object
 26  QTD_ACESSOS_19_2                2143 non-null   float64
 27  QTD_ACESSOS_20_1                2143 non-null   float64
 28  IND_INDICIO_EVASAO              2143 non-null   int64
 29  CLASSIFICACAO_PROP_EVASAO       2143 non-null   object
 30  CLASSIFICACAO_PROP_RENOVACAO    2143 non-null   object
 31  ACEITE_CONTRATO                 2143 non-null   int64
 32  PASTA_VERMELHA                  2143 non-null   int64
 33  REQ_AGEND_TRANC                 2143 non-null   int64
 34  SAFRA                           2143 non-null   object
dtypes: float64(7), int64(13), object(15)
memory usage: 586.1+ KB

In [ ]:
# Verificar se ainda exitem valores ausentes (missing values)
(df_renovacao_limpo.isnull().sum() / df_renovacao_limpo.shape[0] * 100).sort_values(ascending=False)

SAFRA                             0.0
COD_TURNO                         0.0
PRV_ATU                           0.0
PRV_ANT                           0.0
NOVO_FIES                         0.0
CLASSE_PAGANTE_ATU                0.0
CLASSE_PAGANTE_ANT                0.0
COD_TIPO_CURSO                    0.0
COD_CURSO                         0.0
NOM_SITUACAO_ALUNO                0.0
RISCO_INADIMPLENCIA               0.0
TIPO_INADIMPLENCIA                0.0
CONDICAO_IMPEDE_RENOVACAO         0.0
CONDICAO_GERENCIAL                0.0
ALUNO_MATRICULADO                 0.0
ALUNO_MATRICULADO_PROX_PERIODO    0.0
LATE_COMER                        0.0
NOM_SITUACAO_PERIODO_ANT          0.0
REQ_AGEND_TRANC                   0.0
QTD_ACESSOS_19_2                  0.0
PASTA_VERMELHA                    0.0
ACEITE_CONTRATO                   0.0
CLASSIFICACAO_PROP_RENOVACAO      0.0
CLASSIFICACAO_PROP_EVASAO         0.0
IND_INDICIO_EVASAO                0.0
QTD_ACESSOS_20_1                  0.0
FAIXA_APROVACAO                   0.0
VAL_A_PAGAR                       0.0
CR_PER_ANT                        0.0
ADIMP_N_REN                       0.0
FAIXA_DE_DIVIDA                   0.0
VAL_DIVIDA_TOTAL                  0.0
VAL_DIVIDA_MENS                   0.0
VAL_A_PAGAR_PAR                   0.0
COD_MATRICULA                     0.0
dtype: float64

Nesse momento pode-se observar que os tipos de dados objects foram reduzidos:

* `NUMBER` - 20 colunas
* `OBJECT` - 15 colunas

In [ ]:
# Somente os dados de tipo number
df_renovacao_limpo.select_dtypes(include=['number'])

      COD_MATRICULA  ...  REQ_AGEND_TRANC
0      200701339023  ...                0
1      200702198245  ...                0
2      200702198679  ...                0
3      200801431011  ...                0
4      200901402225  ...                0
...             ...  ...              ...
2138   201912030837  ...                0
2139   201912030853  ...                0
2140   201912030861  ...                0
2141   201912030934  ...                0
2142   201912030951  ...                0

[2143 rows x 20 columns]

In [ ]:
# Somente os dados de tipo object
df_renovacao_limpo.select_dtypes(include=['object'])

      CONDICAO_GERENCIAL  ...     SAFRA
0      9 - ALTO PROPENSO  ...  VETERANO
1     8 - BAIXO PROPENSO  ...   CALOURO
2     8 - BAIXO PROPENSO  ...  VETERANO
3     1 - ALUNO RENOVADO  ...  VETERANO
4     1 - ALUNO RENOVADO  ...  VETERANO
...                  ...  ...       ...
2138  1 - ALUNO RENOVADO  ...  VETERANO
2139  1 - ALUNO RENOVADO  ...  VETERANO
2140   2 - ALUNO EVADIDO  ...  VETERANO
2141  1 - ALUNO RENOVADO  ...  VETERANO
2142  1 - ALUNO RENOVADO  ...  VETERANO

[2143 rows x 15 columns]

## Salvando o conjunto de dados em um novo arquivo

Foi salvo o dataframe limpo em um novo arquivo do tipo CSV. Isso reduziu significativamente o tamanho do arquivo final para a próxima etapa de ***Análise Exploratória dos Dados (EDA)***

In [ ]:
# Salva os dados do dataframe limpo em um arquivo CSV
df_renovacao_limpo.to_csv( root_path + 'base_clean.csv', sep='|', index=False)